<a href="https://colab.research.google.com/github/denmj/Algos-Euler/blob/master/Torch_book_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [6]:
annotation_data = pd.read_csv('/content/annotations.csv')
candidates_data = pd.read_csv('/content/candidates.csv')

In [4]:
annotation_data.head()

                                           seriesuid  ...  diameter_mm
0  1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...  ...     5.651471
1  1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...  ...     4.224708
2  1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...  ...     5.786348
3  1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...  ...     8.143262
4  1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...  ...    18.545150

[5 rows x 5 columns]

In [5]:
annotation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   seriesuid    1186 non-null   object
 1   coordX       1186 non-null   float64
 2   coordY       1186 non-null   float64
 3   coordZ       1186 non-null   float64
 4   diameter_mm  1186 non-null   float64
dtypes: float64(4), object(1)
memory usage: 46.5+ KB

In [7]:
candidates_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551065 entries, 0 to 551064
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   seriesuid  551065 non-null  object
 1   coordX     551065 non-null  float64
 2   coordY     551065 non-null  float64
 3   coordZ     551065 non-null  float64
 4   class      551065 non-null  int64
dtypes: float64(3), int64(1), object(1)
memory usage: 21.0+ MB